@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 10 10 10;
  --muted: 245 245 245;
  --border: 229 229 229;
}

.dark {
  --bg: 10 10 10;
  --fg: 245 245 245;
  --muted: 24 24 24;
  --border: 50 50 50;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
